<div>
    <label for="project_description">Project Description:</label><br>
    <textarea id="project_description" name="project_description" required>{{ meta.project_description[0] }}</textarea>
</div>

<div>
    <label for="project_founded">Project Founded:</label><br>
    <input type="text" id="project_founded" name="project_founded" required value="{{ meta.project_founded[0] }}">
</div>